/.gradle/
/.idea/dictionaries/
/.idea/modules/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/$PRODUCT_WORKSPACE_FILE$
/.idea/.name
/.idea/checkstyle-idea.xml
/.idea/checkstyleidea-libs/
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/uiDesigner.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/build/
/*/build/

/notes
**/*_pid*.log
